:root {
  --color-grey--800: #37474f;
  --color-grey--600: #546e7a;
  --color-grey--300: #90a4ae;
  --color-grey--200: #b0bec5;
  --color-grey--100: #cfd8dc;
  --color-grey--050: #eceff1;

  --color-brand-a: #505160;
  --color-brand-b: #68829e;
  --color-brand-c: #aebd38;
  --color-brand-d: #598234;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
